@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

$amarillo: #FFEF63;
$azulClaro: #4BA7EE;
$azulMedio: #003970;
$azulOscuro: #001841;
$fondo: #E5E5E5;
$grisOscuro: #4E5156;
$naranja: #FFAB48;
$negro: #000000;
$rojo: #DB171D;
// fonts
$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;